@import url( mod_brows.css );
BODY {
	FONT-FAMILY: arial, helvetica, sans-serif
}
P {
	FONT-FAMILY: arial, helvetica, sans-serif
}
UL {
	FONT-FAMILY: arial, helvetica, sans-serif
}
OL {
	FONT-FAMILY: arial, helvetica, sans-serif
}
LI {
	FONT-FAMILY: arial, helvetica, sans-serif
}
TABLE {
	FONT-FAMILY: arial, helvetica, sans-serif
}
TR {
	FONT-FAMILY: arial, helvetica, sans-serif
}
TD {
	FONT-FAMILY: arial, helvetica, sans-serif
}
TH {
	FONT-FAMILY: arial, helvetica, sans-serif
}
A {
	FONT-FAMILY: arial, helvetica, sans-serif
}
H1 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
H2 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
H3 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
H4 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.head1 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.head2 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.head3 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.head4 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.label {
	FONT-FAMILY: arial, helvetica, sans-serif
}
FORM {
	FONT-FAMILY: arial, helvetica, sans-serif
}
BODY {
	FONT-SIZE: 10pt
}
P {
	FONT-SIZE: 10pt
}
TABLE {
	FONT-SIZE: 10pt
}
TR {
	FONT-SIZE: 10pt
}
TD {
	FONT-SIZE: 10pt
}
TH {
	FONT-SIZE: 10pt
}
UL {
	FONT-SIZE: 10pt
}
OL {
	FONT-SIZE: 10pt
}
LI {
	FONT-SIZE: 10pt
}
BLOCKQUOTE {
	FONT-SIZE: 10pt
}
A {
	FONT-SIZE: 10pt
}
.menu {
	FONT-SIZE: 10pt
}
.selectedmenu {
	FONT-SIZE: 10pt
}
.tab {
	FONT-SIZE: 10pt
}
.tabbody {
	FONT-SIZE: 10pt
}
.button {
	FONT-SIZE: 10pt
}
.acttab {
	FONT-SIZE: 10pt
}
FORM {
	FONT-SIZE: 10pt
}
BODY {
	COLOR: #000000; MARGIN-RIGHT: 10px; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #000099; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #333366
}
A:hover {
	COLOR: #660033; TEXT-DECORATION: underline
}
TH {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #000000 thin solid; BORDER-LEFT: #000000 thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #000000
}
TD.rightpad {
	PADDING-RIGHT: 10px
}
.monospace {
	FONT-FAMILY: monospace
}
H1 {
	FONT-SIZE: 16pt
}
H2 {
	FONT-SIZE: 12pt
}
H3 {
	FONT-SIZE: 11pt
}
H4 {
	FONT-SIZE: 10pt
}
.head1 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 16pt
}
.head2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
.head3 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: black
}
.head3 A {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 11pt
}
.head4 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black
}
.head4 A {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
H3.nbmrgn {
	FONT-SIZE: 11pt; MARGIN-BOTTOM: -13px
}
H4.nbmrgn {
	FONT-SIZE: 10pt; MARGIN-BOTTOM: -14px
}
UL LI {
	LIST-STYLE-TYPE: disc
}
DIV.ulnleftm {
	MARGIN-LEFT: -23px
}
DIV.olnleftm {
	MARGIN-LEFT: -15px
}
UL.ntopm {
	MARGIN-TOP: 2px
}
OL.ntopm {
	MARGIN-TOP: 2px
}
LI.ntopm {
	MARGIN-TOP: -16px
}
EM.caption {
	FONT-SIZE: 9pt
}
IMG.rightmrgn {
	MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 10px
}
CODE {
	FONT-FAMILY: monospace
}
SAMP {
	FONT-FAMILY: monospace
}
SUP {
	FONT-SIZE: x-small
}
H1 SUP {
	FONT-SIZE: 12pt
}
H2 SUP {
	FONT-SIZE: 12pt
}
BLOCKQUOTE {
	COLOR: #003399; FONT-STYLE: italic
}
DIV.mainbody {
	MARGIN-TOP: 20px; MARGIN-LEFT: 20px
}
DIV.plain A:link {
	TEXT-DECORATION: none
}
DIV.rightnav A:link {
	TEXT-DECORATION: none
}
A.plain {
	TEXT-DECORATION: none
}
.ebhead {
	FONT-WEIGHT: bold; COLOR: white; TEXT-ALIGN: center
}
.ebbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.globalnavbar {
	BACKGROUND-COLOR: #ffffff
}
DIV.globalnavbar INPUT {
	FONT-FAMILY: monospace
}
DIV.globalnavbar .navbarlink A:link {
	FONT-SIZE: 8pt; COLOR: black; TEXT-DECORATION: none
}
DIV.globalnavbar .navbarlink A:visited {
	FONT-SIZE: 8pt; COLOR: black; TEXT-DECORATION: none
}
DIV.globalnavbar .navbarlink A:hover {
	FONT-SIZE: 8pt; COLOR: #660033; TEXT-DECORATION: underline
}
DIV.rightnav {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 5px 15px; LINE-HEIGHT: 11pt
}
DIV.headerlist {
	MARGIN-TOP: 6px; MARGIN-BOTTOM: 6px; MARGIN-LEFT: 10px; LINE-HEIGHT: 11pt
}
DIV.rightnav DIV.headerlist DIV.header {
	MARGIN-LEFT: -10px
}
DIV.rightnav A:link {
	TEXT-DECORATION: none
}
DIV.rightnav A:visited {
	TEXT-DECORATION: none
}
DIV.rightnav A:hover {
	TEXT-DECORATION: none
}
DIV.rightnav DIV.activemenu A:hover {
	TEXT-DECORATION: none
}
DIV.rightnav DIV.inactivemenu A:hover {
	TEXT-DECORATION: none
}
DIV.rightnav DIV.activemenu {
	PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; MARGIN-LEFT: -15px; PADDING-TOP: 5px
}
DIV.rightnav DIV.inactivemenu {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.rightnav DIV.activesubmenu {
	PADDING-LEFT: 25px; PADDING-BOTTOM: 2px; MARGIN-LEFT: -25px; PADDING-TOP: 2px
}
DIV.rightnav DIV.inactivesubmenu {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.warning {
	COLOR: black
}
.error {
	COLOR: #cc0000
}
.small {
	FONT-SIZE: 8pt
}
.trademark {
	FONT-SIZE: 7pt
}
.appnavbar {
	BACKGROUND-COLOR: #ffffff
}
.oddrow {
	BACKGROUND-COLOR: #cccccc
}
.colheader {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000000; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
.menu {
	FONT-WEIGHT: bold; TEXT-INDENT: 10px; WHITE-SPACE: nowrap
}
.selectedmenu {
	FONT-WEIGHT: bold; TEXT-INDENT: 10px; WHITE-SPACE: nowrap
}
.submenu {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-INDENT: 20px
}
.tab {
	BORDER-TOP-WIDTH: 0em; BORDER-LEFT-WIDTH: 0em; BORDER-BOTTOM-WIDTH: 0em; BACKGROUND-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 0em
}
.tab IMG {
	BORDER-TOP-WIDTH: 0em; PADDING-LEFT: 0em; BORDER-LEFT-WIDTH: 0em; BORDER-BOTTOM-WIDTH: 0em; MARGIN: 0em; BORDER-RIGHT-WIDTH: 0em; border-spacing: 0em
}
.tabtext {
	FONT-WEIGHT: normal; COLOR: #000000; WHITE-SPACE: nowrap
}
.acttab {
	BORDER-TOP-WIDTH: 0em; BORDER-LEFT-WIDTH: 0em; BORDER-BOTTOM-WIDTH: 0em; COLOR: #ffffff; BACKGROUND-COLOR: #000000; BORDER-RIGHT-WIDTH: 0em
}
.acttab IMG {
	BORDER-TOP-WIDTH: 0em; PADDING-LEFT: 0em; BORDER-LEFT-WIDTH: 0em; BORDER-BOTTOM-WIDTH: 0em; MARGIN: 0em; BORDER-RIGHT-WIDTH: 0em; border-spacing: 0em
}
.acttab .acttabtext A {
	FONT-WEIGHT: bold; COLOR: #ffffff; WHITE-SPACE: nowrap
}
.tab .tabtext A {
	FONT-WEIGHT: normal; COLOR: white; WHITE-SPACE: nowrap
}
.acttab .tabtext {
	FONT-WEIGHT: normal; COLOR: white; WHITE-SPACE: nowrap
}
.acttab .tabtext .acttabtext {
	FONT-WEIGHT: normal; COLOR: white; WHITE-SPACE: nowrap
}
.tabbody {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.button {
	FONT-WEIGHT: bold
}
.darkback {
	BACKGROUND-COLOR: #000000
}
.lightback {
	BACKGROUND-COLOR: #ffffff
}
.label {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.tagfieldpendingjob {
	BACKGROUND-COLOR: #facbb4
}
.tagfieldpendingchange {
	BACKGROUND-COLOR: #fff3ed
}
.tagfieldwarning {
	BACKGROUND-COLOR: #ffffcc
}
.tagfielderror {
	COLOR: #ffffff; BACKGROUND-COLOR: #990000
}
A.label {
	COLOR: #6b0031
}
A.label:visited {
	COLOR: #6b0031
}
A.label:hover {
	COLOR: #6b0031; TEXT-DECORATION: none
}
.tagfieldpendingjob {
	FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
.tagfieldpendingchange {
	FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
.tagfieldwarning {
	FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
.tagfielderror {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
.tagfieldnormal {
	FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sans-serif
}
.tagfieldreadonly {
	FONT-SIZE: 10pt; FONT-FAMILY: arial,helvetica,sans-serif
}
.header {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.header A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.header A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.inactivemenu {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.inactivemenu A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.inactivemenu A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.industry H1 {
	COLOR: #000066
}
.industry H2 {
	COLOR: #000066
}
.industry .head1 {
	COLOR: #000066
}
.industry .head2 {
	COLOR: #000066
}
.industry TH {
	COLOR: #ffffff; BACKGROUND-COLOR: #000066
}
.industry .menu {
	COLOR: #000066
}
.store H1 {
	COLOR: #663366
}
.store H2 {
	COLOR: #663366
}
.store .head1 {
	COLOR: #663366
}
.store .head2 {
	COLOR: #663366
}
.store TH {
	COLOR: #ffffff; BACKGROUND-COLOR: #663366
}
.store .menu {
	COLOR: #663366
}
.mla H1 {
	COLOR: #006699
}
.mla H2 {
	COLOR: #006699
}
.mla .head1 {
	COLOR: #006699
}
.mla .head2 {
	COLOR: #006699
}
.mla TH {
	COLOR: #ffffff; BACKGROUND-COLOR: #000066
}
.mla .menu {
	COLOR: #006699
}
.consult H1 {
	COLOR: #0b5a6d
}
.consult H2 {
	COLOR: #0b5a6d
}
.consult .head1 {
	COLOR: #0b5a6d
}
.consult .head2 {
	COLOR: #0b5a6d
}
.consult TH {
	COLOR: #ffffff; BACKGROUND-COLOR: #0b5a6d
}
.consult .menu {
	COLOR: #0b5a6d
}
